/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

body,
html {
  height: 100%;
}

.hero-image {
  background-image: url(/images/bg.png);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.hero-text {
  color: white;
  text-align: center;
  padding-top: 220px;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.hero-text h1 {
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}
.hero-text h2 {
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 45px;
}

.btn-branding {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: white;
  color: #272142;
  border-radius: 50px;
  padding: 18px 30px;
}

.lower-homepage {
  background-color: #1b1b1b;
  padding: 80px;
}

.row {
  padding-bottom: 40px;
}
@media (max-width: 576px) {
  .hero-image {
    height: auto;
  }

  .hero-text {
    padding-top: 100px;
  }
  .hero-text h1 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0;
    margin-bottom: 12px;
  }
  .hero-text h2 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0;
    margin-bottom: 12px;
  }

  .hero-text p {
    font-size: 9px;
    line-height: 15px;
    margin-bottom: 22px;
  }

  .btn-branding {
    font-size: 7px;
    line-height: 8px;
    letter-spacing: 0;
    padding: 9px 15px;
  }

  .get-started-button {
    margin-bottom: 10px;
  }

  .lower-homepage {
    padding: 40px;
  }

  .row {
    padding-bottom: 20px;
  }

  .photo-left {
    padding-bottom: 20px;
  }
  .photo-center {
    padding-bottom: 20px;
  }
}

.about-body {
  background-color: #202020;
}

.about-me-written-section {
  padding-right: 120px;
}
.about-me-written-section h2 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #f65282;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-me-written-section h1 {
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-me-written-section p {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 40px;
}
.social-media-left {
  margin-right: 20px;
}

.social-media-center {
  margin-right: 20px;
}
.social-media-right {
  margin-right: 20px;
}

.about-me-mini-gallery {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 80px;
}

.my-camera {
  background-color: #2d2727;
  color: white;
  padding: 20px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 70%;
}

@media (max-width: 576px) {
  .about-me-written-section {
    padding: 20px;
  }
  .about-me-written-section h2 {
    text-align: center;
  }
  .about-me-written-section h1 {
    font-size: 40px;
    text-align: center;
  }
  .about-me-written-section p {
    text-align: center;
    font-size: 14px;
  }
  .social-media {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .social-media-left {
    font-size: 40px;
    margin-right: 40px;
  }
  .social-media-center {
    font-size: 40px;
    margin-right: 40px;
  }
  .social-media-right {
    font-size: 40px;
  }
  .heading-my-camera {
    display: none;
  }
  .my-camera {
    display: none;
  }
  .contact-me-btn {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    display: block;
    margin: 0 auto;
  }

  .about-photos {
    margin-bottom: 10px;
  }
}

.gallery-body {
  background-color: #202020;
}
.gallery-content {
  padding-bottom: 30px;
}
.gallery-heading {
  font-family: Roboto;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 80px;
}
.section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .gallery-heading {
    font-size: 65px;
  }
  .section {
    display: block;
    margin-bottom: 0;
  }
  .section img {
    width: 98%;
    margin: 0 0 10px 0;
  }
}

@media (width: 768px) {
  .section {
    margin-bottom: 0;
  }
  .section img {
    max-width: 32%;
    margin: 5px;
  }
}
